.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  position: relative;
  border-radius: 4px;
  border: 2px solid #9400d3;
  background-color: #e6e6fa;
  width: 300px;
  margin: 0;
}
.btn {
  border-radius: 4px;
  background-color: rgb(216, 191, 216);
  color: #9400d3;
  border-color: #9400d3;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.text {
  margin: 0;
  padding-top: 7px;
  padding-left: 7px;
  color: #9400d3;
  margin-left: 5px;
}
.icon {
  padding-right: 10px;
}
